<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace命名空间，为了对sql语句进行隔离，方便管理，mapper开发dao方式，使用namespace有特殊作用  
mapper代理开发时将namespace指定为mapper接口的全限定名  
 -->
<mapper namespace="com.chengxusheji.mapper.PostInfoMapper"> 
<!--在mapper.xml文件中配置很多的sql语句，执行每个sql语句时，封装为MappedStatement对象 
mapper.xml以statement为单位管理sql语句  
 -->
	<!-- 添加帖子记录 -->
	<insert id="addPostInfo" parameterType="postInfo">
		insert into t_postInfo(title,content,hitNum,userObj,addTime) values 
		(#{title},#{content},#{hitNum},#{userObj.user_name},#{addTime})
	</insert>

	<!-- 按照查询条件分页查询帖子记录 -->
	<select id="queryPostInfo" resultMap="postInfoMap" >
		select t_postInfo.* from t_postInfo,t_userInfo ${where} and t_postInfo.userObj = t_userInfo.user_name limit #{startIndex},#{pageSize}
	</select>
	<resultMap id="postInfoMap" type="postInfo">
        <id property="postInfoId" column="postInfoId" />
        <association property="userObj" column="userObj" select="com.chengxusheji.mapper.UserInfoMapper.getUserInfo" />
    </resultMap>

    <!-- 按照查询条件查询所有帖子记录 -->
	<select id="queryPostInfoList" resultMap="postInfoMap" >
		select t_postInfo.* from t_postInfo,t_userInfo ${where} and t_postInfo.userObj = t_userInfo.user_name
	</select>

    <!-- 按照查询条件的帖子记录数 -->
	<select id="queryPostInfoCount" resultType="int">
		select count(*) from t_postInfo,t_userInfo ${where} and t_postInfo.userObj = t_userInfo.user_name
	</select>

	<!-- 根据主键查询某个帖子记录 -->
	<select id="getPostInfo" parameterType="int" resultMap="postInfoMap">
		select * from t_postInfo where t_postInfo.postInfoId = #{postInfoId}
	</select>

	<!-- 更新帖子记录 -->
	<update id="updatePostInfo" parameterType="postInfo">
		update t_postInfo set title=#{title},content=#{content},hitNum=#{hitNum},userObj=#{userObj.user_name},addTime=#{addTime} where postInfoId = #{postInfoId}
	</update>

	<!-- 删除帖子记录 -->
	<delete id="deletePostInfo" parameterType="int">
		delete from t_postInfo where postInfoId=#{postInfoId}
	</delete>

</mapper>
